spring:
  profiles:
    active: dev
    
---

spring:
  profiles: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.2.124:5000/libfprint
    username: libfprint
    password: 123456
libfprint:
  uris:
    enroll: "http://192.168.2.124:3000"
    verify: "http://192.168.2.124:3000"
    identify: "http://192.168.2.124:3000"
    
---

spring:
  profiles: docker
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://database:3306/libfprint
    username: libfprint
    password: 123456
libfprint:
  uris:
    enroll: "http://enroll:3000"
    verify: "http://verify:3000"
    identify: "http://identify:3000"